<!DOCTYPE HTML>
<html>
<head>

<title>强大的jQuery拖拽式表单设计器特效</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="leipi.org">
<link href="/static/css/bootstrap/css/bootstrap.css?2024" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/bootstrap-ie6.css?2024">
<![endif]-->
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/ie.css?2024">
<![endif]-->
<link href="/static/css/site.css?2024" rel="stylesheet" type="text/css" />

<style>
  
  #components{
	min-height: 600px;
  }
  #target{
	min-height: 200px;
	border: 1px solid #ccc;
	padding: 5px;
  }
  #target .component{
	border: 1px solid #fff;
  }
  #temp{
	width: 500px;
	background: white;
	border: 1px dotted #ccc;
	border-radius: 10px;
  }

  .popover-content form {
	margin: 0 auto;
	width: 213px;
  }
  .popover-content form .btn{
	margin-right: 10px
  }
  #source{
	min-height: 500px;
  }
</style>
<!--link href="/static/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"-->


</head>
<body>
<a href="/list">返回</a>
<!-- Docs page layout -->

<div class="container">

{{data["source"] | safe}}
	<input type="hidden" value="{{data['id']}}" name="fid" id="fid">
<button type="button" id="btn">提交信息</button>
</div>


<script type="text/javascript" charset="utf-8" src="/static/js/jquery-1.7.2.min.js"></script>

<script>
	
	$("#btn").click(function () {

	    //  传值  传址
		var values=($("form"). serializeArray())

		var newarr=[]
		for (var i=0;i<values.length;i++){
		    var flag=true
		    for (var j=0;j<newarr.length;j++){
		        if (values[i].name==newarr[j].name){
		            flag=false
					newarr[j].value=newarr[j].value+" "+values[i].value
				}
			}
			if (flag){
		        newarr.push(values[i])
			}
		}

		newarr=newarr.slice(1)
		var titles=[]
		$(".leipiplugins-orgname").each(function (index,obj) {
		    titles.push($(obj).html())
        })


		for (var i=0;i<newarr.length;i++){
		   newarr[i].name=titles[i]
		}

		$.ajax({
			url:"/conadd",
			data:{con:JSON.stringify(newarr),fid:$("#fid").val()},
			success(e){
			    if(e=="ok"){
			        alert("成功");
				}
			}

		})


    })
</script>

<script type="text/javascript"  src="/static/js/formbuild/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/formbuild/leipi.form.build.core.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/formbuild/leipi.form.build.plugins.js"></script>


</body>
</html>